<div class="signup text-center">
  <form [formGroup]="signUpForm" class="form-signup" (submit)="signup()">

    <input
      #emailInput
      formControlName="email" 
      type="email" 
      class="form-control" 
      placeholder="Email address"
      required >
    <br>

    <input 
      type="password" 
      class="form-control"
      placeholder="Password"
      formControlName="password"  
      required >
    <br>

    <input 
      type="password" 
      class="form-control"
      placeholder="Confirm Password "
      formControlName="confirmPass"  
      required
    >

    <div class="checkbox mt-4 mb-3">
      <input type="checkbox" value="remember-me"> 
      <p class="text-left">Creating an account means you’re okay with our <a href="#">Terms of Service, Privacy Policy.</a></p>
    </div>
    
    <button [disabled]="signUpForm.invalid" class="btn-good" type="submit">Sign Up</button>
    <p class="text-muted mt-3">Already a user?<a [routerLink]="['/login']"> Sign In</a></p>
    <p class="mt-5 text-muted">&copy; 2019-2020</p>
  </form>



</div>