<div class="signup text-center">
  <form [formGroup]="" class="form-signin">



    <input
      #emailInput
      formControlName="email" 
      type="email" 
      class="form-control" 
      placeholder="Email address"
    >
    <br>

    <input 
      type="password" 
      class="form-control"
      placeholder="Password"
      formControlName="password"  
      required
    >
    <br>

    <input 
      type="password" 
      class="form-control"
      placeholder="Confirm Password "
      formControlName="passwordConfirm"  
      required
    >


    <div class="checkbox mt-4 mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    <p class="text-muted mt-3">Not a member? <a [routerLink]="['/signUp']"> Sign up now</a></p>
    <p class="mt-5 text-muted">&copy; 2019-2020</p>
  </form>



</div>