<div class="container-expense">
  <div class="expense-list">
    <div class="expense">
      <div class="photo-expense"></div>

      <div class="text-expense">
        <p class="text-muted">Starbucks</p>
        <h5>$35,00</h5>
        <div class="tagBox-expense">
          <div class="tag-expense">Food</div>
          <div class="tag-expense">Meeeting</div>
        </div>
      </div>

      <div class="status-expense">reported</div>

    </div>

    <div class="expense">
      <div class="photo-expense"></div>

      <div class="text-expense">
        <p class="text-muted">Starbucks</p>
        <h5>$35,00</h5>
        <div class="tagBox-expense">
          <div class="tag-expense">Food</div>
          <div class="tag-expense">Meeeting</div>
        </div>
      </div>

      <div class="status-expense">reported</div>

    </div>

    <div class="expense">
      <div class="photo-expense"></div>

      <div class="text-expense">
        <p class="text-muted">Starbucks</p>
        <h5>$35,00</h5>
        <div class="tagBox-expense">
          <div class="tag-expense">Food</div>
          <div class="tag-expense">Meeeting</div>
        </div>
      </div>

      <div class="status-expense">reported</div>

    </div>

    <div class="expense">
      <div class="photo-expense"></div>

      <div class="text-expense">
        <p class="text-muted">Starbucks</p>
        <h5>$35,00</h5>
        <div class="tagBox-expense">
          <div class="tag-expense">Food</div>
          <div class="tag-expense">Meeeting</div>
        </div>
      </div>

      <div class="status-expense">reported</div>

    </div>

    <div class="expense">
      <div class="photo-expense"></div>

      <div class="text-expense">
        <p class="text-muted">Starbucks</p>
        <h5>$35,00</h5>
        <div class="tagBox-expense">
          <div class="tag-expense">Food</div>
          <div class="tag-expense">Meeeting</div>
        </div>
      </div>

      <div class="status-expense">reported</div>

    </div>
    
  </div>
</div>


<!-- 


<div class="container">
  <div class="row">

    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-body row p-2">
          <div class="photo-card col-4 m-2">
          </div>
          <div class="info-card col-6">
            <h5 class="card-title col">Card title</h5>
            <h2 class="card-title col">43.00</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 col-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
            <div class="col-auto">
              <i class="fab fa-apple" title="Edit"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->