.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.signin {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F5F8F8;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 300;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 10px;
}

.btn-good {
  background-color: #4887FB;
  color: white;
  padding: 8px 60px;
  border-radius: .60rem;
  border: 1px solid transparent;
  transition: 0.3s;
  box-shadow: 0 0 20px rgba($color: #007bff, $alpha: 0.5);
  &:hover {
    transition: color .15s;
    filter: brightness(90%);
  }
  &:disabled { opacity: .65; }
}



.hello{
  left: 25%;
  top: 10px;
  font-size: 18px;
  font-weight: 200;
  color: #cecece;
  transition: all 0.5s ease;
  pointer-events: none;
}

.write {
  outline: none;
  border: 0;
  border-bottom: 1px solid #cecece;
  height: 40px;
  width: 50%;
}

input[type=text]:focus~.hello {

  border-color: #4887FB;
  color: black;
  top: -20px;
  font-size: 14px;
}

input[type=text]:focus~.enter {
  background-color: #4887FB;
  content: ' ';
  height: 1px;
  right: 45%;
  top: 42px;
  transform: scaleX(5)

}

.enter{
  transition: all ease 0.5s;
  width: 10.1%;
  transform: scaleX(1)

}

// textarea, input { 
//   outline: none;
//   border: 0;
//   border-bottom: 1px solid #cecece;
//   height: 40px;
//   width: 50%;
// }

// input:focus {
//   content
// }








