<div class="text-center signin">
  
  <form [formGroup]="loginForm" class="form-signin" (submit)="login()">

    <img class="mb-5" src="../../assets/img/Fichier1.svg" alt="" height="72">
    <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input
      #emailInput
      formControlName="email" 
      type="email" 
      id="iputEmail" 
      class="form-control" 
      placeholder="Email address"
    >
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    
    <input 
      type="password" 
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      formControlName="password"  
      required
    >
    <div class="checkbox mt-4 mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    <p class="text-muted mt-3">Not a member? <a [routerLink]="['/signUp']"> Sign up now</a></p>
    <p class="mt-5 text-muted">&copy; 2019-2020</p>
  </form>
</div>